<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('result') }}" method="post">
    <a1>输入原有空压机数据</a1>
    <p>编号：       <input type="text" name="no"></p>
    <p>型号：   <input type="text" name="model"></p>
    <p>运行时间：<input type="text" name="run_time"></p>
    <p>加载时间：<input type="text" name="load_time"></p>
    <p>额定功率：<input type="text" name="ori_power"></p>
    <p>用气量： <input type="text" name="air"></p>
    <p>品牌：   <input type="text" name="brand"></p>
    <p>是否变频（1/0）：<input type="text" name="isFC"></p>
    <p>额定压力：<input type="text" name="origin_pre"></p>
    <p>实际压力：<input type="text" name="actucal_pre"></p>
    <p><input type="submit" value="新增"></p>
</form>

<form action="{{ url_for('generate') }}" method="post">
    <input type="submit" value='生成'></input>
</form>


</body>
</html>